@charset "UTF-8";
.search-container {
  position: relative;
  display: flex;
  align-items: center;
  transition: 0.6s ease-in-out;
}
.search-container .search-input {
  right: 10px;
  position: absolute;
  width: 0;
  visibility: hidden;
  padding: 14px 0;
  border: none;
  outline: none;
  border-bottom: 2px solid #ccc;
  max-width: 672px;
  border-radius: 4px;
  transition: 0.8s ease-in-out;
}
.search-container .search-input::placeholder {
  color: #9aa1a6;
}
.search-container .search-input.active {
  visibility: visible;
  display: block;
  z-index: 99;
  max-width: 672px;
  width: 65vw;
  padding: 14px 16px;
}
@media (max-width: 1040px) {
  .search-container .search-input.active {
    max-width: calc(100vw - 360px);
  }
}
.search-container .search-btn {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-container .search-btn i {
  width: 40px;
  height: 40px;
}
@media (max-width: 970px) {
  .search-container .search-btn {
    padding: 0;
  }
}
.search-container .search-btn svg {
  display: inline-flex;
  fill: #333;
  transition: transform 0.3s ease;
}
.search-container .search-btn:hover svg {
  transform: scale(1.1);
}
.search-container .ri-arrow-left-line:before {
  content: "";
}
@media (max-width: 1040px) {
  .search-container .ri-arrow-left-line:before {
    content: "\ea60";
  }
}
.search-container .search-menu {
  display: flex;
  background: #fff;
  position: absolute;
  right: 10px;
  top: 45px;
  width: 100vw;
  max-width: 704px;
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(93, 95, 97, 0.14), 0 4px 8px 0 rgba(93, 95, 97, 0.14);
  height: 228px;
}
@media (max-width: 1040px) {
  .search-container .search-menu {
    max-width: calc(100vw - 328px);
  }
}
.search-container .search-menu .left-part {
  position: relative;
  z-index: 999;
  height: 100%;
  min-width: 216px;
  border-right: 1px solid #E1E4E6;
}
.search-container .search-menu .left-part .title-list {
  box-sizing: border-box;
  border-bottom: 6px solid #d99;
  padding: 20px 16px 0;
}
.search-container .search-menu .left-part .title-list p {
  font-weight: 500;
  font-size: 11px;
  line-height: 127%;
  letter-spacing: 0em;
  color: #7f878c;
  margin: 0;
}
.search-container .search-menu .left-part .history-list {
  max-height: 185px;
  overflow-y: auto;
}
.search-container .search-menu .left-part .history-list::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.search-container .search-menu .left-part .history-list::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(255, 255, 255));
  pointer-events: none;
  border-radius: 6px;
}
.search-container .search-menu .left-part ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.search-container .search-menu .left-part ul li {
  font-family: var(--font-family);
  padding: 6px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0em;
  color: #2a3033;
}
.search-container .search-menu .right-part {
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.search-container .search-menu .right-part .input-container {
  position: relative;
  max-width: 439px;
  height: 46px;
}
.search-container .search-menu .right-part .author-label {
  position: absolute;
  top: -7px;
  left: 12px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  background-color: white;
  padding-right: 10px;
  padding-left: 5px;
  color: #8C9499;
}
.search-container .search-menu .right-part .custom-input {
  border: 1px solid #e1e4e6;
  border-radius: 4px;
  padding-block: 0;
  padding-inline: 0;
  padding-left: 16px;
  width: 100%;
  height: 100%;
  font-size: 14px;
  box-sizing: border-box;
}
.search-container .search-menu .right-part .custom-input input {
  max-width: 424px;
}
.search-container .search-menu .right-part .custom-input:focus {
  outline: none; /* Убираем стандартный фокусный стиль */
  border-color: #4a90e2; /* Синий цвет для фокуса */
}
.search-container .search-menu .right-part .checkbox-container {
  display: flex;
  justify-content: space-between;
  gap: 10px; /* Отступ между чекбоксами */
}
.search-container .search-menu .right-part .checkbox-item {
  display: flex;
  height: 36px;
  align-items: center;
  gap: 12px;
}
@media (max-width: 1040px) {
  .search-container .search-menu .right-part .checkbox-item {
    gap: 4px;
  }
}
.search-container .search-menu .right-part .custom-checkbox {
  appearance: none; /* Убираем стандартный стиль чекбокса */
  width: 18px; /* Размер чекбокса */
  height: 18px; /* Размер чекбокса */
  border: 2px solid #7F878C; /* Граница чекбокса */
  border-radius: 4px; /* Радиус углов */
  cursor: pointer;
  position: relative;
}
.search-container .search-menu .right-part .custom-checkbox:checked {
  background-color: #4a90e2; /* Цвет заполнения при выборе */
  border-color: #4a90e2; /* Цвет границы при выборе */
}
.search-container .search-menu .right-part .custom-checkbox:checked::after {
  content: ""; /* Добавляем галочку */
  position: absolute;
  top: 1px;
  left: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.search-container .search-menu .right-part label {
  font-size: 14px;
  font-weight: 400;
  color: #4a4a4a; /* Цвет текста */
  cursor: pointer; /* Указатель на текст */
}
.search-container .search-menu .right-part span {
  font-size: 14px;
  color: #000;
}

@media (max-width: 970px) {
  .search {
    height: 40px;
    width: 40px;
  }
  .search-container {
    position: fixed;
    background-color: unset;
    transition: none;
  }
  .search-container.active {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100vw - 32px);
    height: 270px;
    background-color: white;
    justify-content: flex-start;
    padding: 4px 16px;
    z-index: 9999;
    align-items: unset;
    will-change: auto;
    transition: none;
    transform: translate3d(0, 0, 0);
  }
  .search-container.active .search-input {
    max-width: unset;
    width: calc(100vw - 109px);
    right: 15px;
    height: 24px;
    border-radius: 24px;
    padding: 12px 16px 12px 20px;
    color: #9AA1A6;
    background: #F5F5F5;
    border-bottom: 0;
  }
  .search-container.active .search-menu {
    max-width: unset;
    right: 15px;
    top: 50px;
    width: calc(100vw - 32px);
    box-shadow: unset;
  }
  .search-container.active .search-btn {
    width: 40px;
    height: 40px;
    padding-top: 6px;
    padding-right: 2px;
    font-size: 23px;
  }
  .search-container.active .search-btn i {
    width: unset;
    height: unset;
  }
  .search-container.active .input-container {
    max-width: unset !important;
  }
  .search-container.active .custom-input {
    width: calc(100% + 22px) !important;
  }
  .search-container.active .checkbox-container {
    max-width: 438px;
  }
}
@media (max-width: 670px) {
  .search-container.active .search-menu .left-part {
    display: none;
  }
  .search-container.active .search-menu .right-part {
    padding-left: 0;
  }
  .search-container.active .search-menu .right-part .custom-checkbox {
    border-radius: 20px;
    border: 0;
    width: 32px;
    height: 32px;
    background: #f5f5f5;
  }
  .search-container.active .search-menu .right-part .custom-checkbox:checked:after {
    width: 10px;
    height: 15px;
    border: solid #7f878c;
    top: 5px;
    left: 10px;
    border-width: 0 3px 3px 0;
  }
}
@media (max-width: 670px) {
  .search-container.active {
    height: 100%;
  }
  .search-container.active .right-part {
    height: fit-content;
    gap: 20px;
  }
  .search-container.active .right-part .checkbox-container {
    flex-direction: column;
  }
  .search-container.active .right-part .checkbox-container:last-of-type {
    margin-top: 10px;
  }
}

/*# sourceMappingURL=search.component.css.map */
