$primary-color: #cbcbbe;

:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "SF UI Display", sans-serif;
}

body {
  background-color: $primary-color;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0em;
  color: #fff;
  margin: 0;
}

